@import "../palette.less";
@import "../font.less";

.art-view {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 50vh;
    font-size      : @hadeline2;
    padding        : 16px;
}