@import "../palette.less";
@import "../font.less";

.pfp-detail-view {
    display       : flex;
    flex-direction: column;

    >.head {
        display         : flex;
        background-image: url("../images/eclipse.png");
        background-size : cover;
        height          : 200px;
        justify-content : center;
        padding         : 16px;

        >.thumbnail {
            max-width    : 156px;
            height       : 156px;
            border-radius: 8px;
        }

        >.body {
            margin-left: 8px;
            font-size  : @body1;
            width      : 100%;

            .social {
                display   : flex;
                margin-top: 16px;
            }

            button {
                margin-right: 8px;
            }
        }

        >.title {
            font-size: @headline5;
            margin   : 16px;
        }

        >.subtitle {
            margin-left: 16px;
            font-size  : @body1;
        }

        >button {
            max-width  : 150px;
            margin-left: 16px;
        }
    }

    >.main {
        >.header {
            display         : flex;
            justify-content : space-between;
            align-items     : center;
            padding         : 16px;
            background-color: black;

            >h4 {
                display        : flex;
                justify-content: flex-start;
            }

            >.filter {
                display        : flex;
                justify-content: flex-end;

                >select {
                    margin-left     : 8px;
                    background-color: @brand-primary;
                    padding         : 8px;
                    font-size       : @body2;
                    border-radius   : 4px;
                    border          : none;
                }

                >select:hover {
                    background-color: @brand-400;
                    box-shadow      : 0 8px 16px 0 rgba(0, 0, 0, 0.1);
                }
            }
        }

        >.content {
            margin-top: 16px;
            display   : flex;

            >.search-box {
                width         : 100%;
                height        : 100%;
                max-width     : 250px;
                padding       : 8px;
                display       : flex;
                flex-direction: column;

                >select {
                    margin-top      : 8px;
                    background-color: @brand-primary;
                    padding         : 8px;
                    font-size       : @body2;
                    border-radius   : 4px;
                    border          : none;
                }

                >select:hover {
                    background-color: @brand-400;
                    box-shadow      : 0 8px 16px 0 rgba(0, 0, 0, 0.1);
                }
            }

            >.list {
                display: flex;
            }
        }
    }
}