.pfp-nft-detail-view {
    padding              : 16px;
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap             : 16px;

    @media @phone {
        display: block;
    }

    >.nft-image {
        aspect-ratio : 1;
        width        : 100%;
        border-radius: 8px;
    }

    >section {
        aspect-ratio    : 1;
        background-color: @shadow;
        border-radius   : 8px;
        padding         : 16px;

        @media @phone {
            margin-top: 16px;
        }

        >h2 {
            font-size    : 24px;
            margin-bottom: 16px;
        }

        >.pfp {
            color        : @brand-primary;
            margin-bottom: 16px;
        }

        >.name {
            font-size    : 24px;
            font-weight  : bold;
            margin-bottom: 16px;
        }

        >.owner {
            color        : #999;
            margin-bottom: 16px;

            >span {
                color: @brand-primary;
            }
        }

        >.attributes {
            display              : grid;
            grid-template-columns: 1fr 1fr;
            grid-gap             : 16px;

            >.attribute {
                border       : 1px solid #999;
                padding      : 16px;
                border-radius: 8px;

                >.trait {
                    color        : @brand-primary;
                    margin-bottom: 16px;
                }
            }
        }
    }
}