@import "base.less";
@import "palette.less";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: "Noto Sans KR", sans-serif;
}

body {
    background: @background;
    color     : #fff;
}

a {
    font-family    : "Noto Sans KR", sans-serif;
    text-decoration: inherit;
    color          : inherit;
}

p {
    line-height: 1.5em;
}

::-webkit-scrollbar {
    width : 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background   : #666;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

// components
@import "component/popup.less";
@import "component/buypopup.less";
@import "component/offerpopup.less";
@import "component/pfp-card.less";
@import "component/pfp-nft-card.less";
@import "component/dialogue/alert.less";
@import "component/dialogue/confirm.less";
@import "component/dialogue/prompt.less";
@import "component/menu/pc-menu.less";
@import "component/menu/mobile-menu.less";
@import "component/menu/user-menu.less";

// views
@import "view/layout.less";
@import "view/home.less";

// pfp views
@import "view/pfp.less";
@import "view/pfp/nft-detail.less";
@import "view/pfp/detail.less";
@import "view/pfp/update.less";
@import "view/pfp/add.less";
@import "view/pfp/add-by-minter.less";
@import "view/pfp/add-by-pfp-owner.less";
@import "view/pfp/sell.less";
@import "view/pfp/rankings.less";
@import "view/pfp/propose.less";

// art views
@import "view/art.less";