@import "base.less";
@import "palette.less";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

*:not(i) {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif !important;
}

body {
    background: @background;
    color     : #fff;
}

a {
    font-family    : "Noto Sans KR", sans-serif;
    text-decoration: inherit;
    color          : inherit;
}

p {
    line-height: 1.5em;
}

.number-with-commas {
    >span {
        color    : #666;
        font-size: 0.8em;
    }
}

::-webkit-scrollbar {
    width : 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background   : #666;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

// components
@import "component/popup.less";
@import "component/connectwalletpopup.less";
@import "component/klipqrpopup.less";
@import "component/pfp-card.less";
@import "component/pfp-nft-card.less";
@import "component/art-nft-card.less";
@import "component/dialogue/alert.less";
@import "component/dialogue/confirm.less";
@import "component/dialogue/prompt.less";
@import "component/menu/pc-menu.less";
@import "component/menu/mobile-menu.less";
@import "component/menu/user-menu.less";
@import "component/nftdisplay.less";
@import "component/pfppage/pfppagination.less";
@import "component/pfppage/multiple-pfp-selector.less";

@import "component/pfptrade/sellpopup.less";
@import "component/pfptrade/buypopup.less";
@import "component/pfptrade/offerpopup.less";
@import "component/pfptrade/acceptofferpopup.less";
@import "component/pfptrade/createauctionpopup.less";
@import "component/pfptrade/bidpopup.less";

@import "component/arttrade/sellpopup.less";
@import "component/arttrade/buypopup.less";
@import "component/arttrade/offerpopup.less";
@import "component/arttrade/acceptofferpopup.less";
@import "component/arttrade/createauctionpopup.less";
@import "component/arttrade/bidpopup.less";

// views
@import "view/layout.less";
@import "view/home.less";

// pfp views
@import "view/pfp.less";
@import "view/pfp/nft-detail.less";
@import "view/pfp/detail.less";
@import "view/pfp/update.less";
@import "view/pfp/add.less";
@import "view/pfp/add-by-minter.less";
@import "view/pfp/add-by-pfp-owner.less";
@import "view/pfp/rankings.less";
@import "view/pfp/propose.less";

// pfp page
@import "view/pfp/page/page-layout.less";

// arts views
@import "view/arts/page/page-layout.less";
@import "view/arts/add-artist.less";
@import "view/arts/update-artist.less";
@import "view/arts/update-art.less";
@import "view/arts/nft-detail.less";

// item views
@import "view/item.less";

// meme views
@import "view/meme.less";

// mix views
@import "view/mix.less";

// user views
@import "view/user/user.less";
@import "view/user/my-pfps.less";
@import "view/user/my-arts.less";