.user-my-pfps-view {
    >header {
        display         : flex;
        flex-direction  : column;
        background-size : cover;
        height          : 200px;
        justify-content : center;
        background-image: url("/images/arts/banner-pc.png");

        @media @phone {
            background-image: url("/images/arts/banner-mobile.png");
        }


        >h1 {
            font-size  : 24px;
            margin     : 16px;
            text-shadow: 0px 0px 5px #000000;
        }
    }

    >section {
        padding: 16px;

        >h2 {
            font-size    : 24px;
            color        : #999;
            margin-bottom: 16px;
        }

        >.warning {
            display         : block;
            color           : #9F6000;
            background-color: #FEEFB3;
            font-size       : 14px;
            padding         : 16px;
            border-radius   : 4px;
            margin-bottom   : 16px;

            >i {
                margin-right: 6px;
            }
        }

        >.list {
            margin-top   : 16px;
            margin-bottom: 16px;
            .float-wrapper();

            >.pfp-card,
            >.pfp-nft-card {
                float       : left;
                margin-right: 16px;
            }
        }
    }
}