@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
* {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  background: #121212;
  color: #fff;
}
a {
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: inherit;
  color: inherit;
}
p {
  line-height: 1.5em;
}
.number-with-commas > span {
  color: #666;
  font-size: 12px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #333;
}
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.sell-popup {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: #1f1f1f;
}
.sell-popup > h2 {
  font-size: 24px;
  padding: 16px;
}
.sell-popup > p {
  padding: 16px;
  border-top: 1px solid #666;
  color: #999;
}
.sell-popup > .loading {
  padding: 16px;
}
.sell-popup > .list {
  padding: 0 16px;
}
.sell-popup > .list > section {
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #666;
  border-radius: 4px;
  display: flex;
}
.sell-popup > .list > section > img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-right: 16px;
}
.sell-popup > .list > section > .info {
  flex-grow: 1;
}
.sell-popup > .list > section > .info > .name {
  font-size: 24px;
  margin-bottom: 16px;
}
.sell-popup > .list > section > .info > label > span {
  display: block;
  color: #999;
  margin-bottom: 8px;
}
.sell-popup > .list > section > .info > label > input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  padding: 8px;
  height: 40px;
}
.sell-popup > .list > section > .info > label > input:hover {
  border: 1px solid #C7FEA2;
}
.sell-popup > .list > section > .info > label > input:focus {
  border: 1px solid #C7FEA2;
}
.sell-popup > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.sell-popup > .button-container > button {
  background-color: transparent;
  color: #C7FEA2;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.sell-popup > .button-container > button:hover {
  background-color: rgba(199, 254, 162, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.buy-popup {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: #1f1f1f;
}
.buy-popup > h2 {
  font-size: 24px;
  padding: 16px;
}
.buy-popup > p {
  padding: 16px;
  border-top: 1px solid #666;
  color: #999;
}
.buy-popup > .loading {
  padding: 16px;
}
.buy-popup > .list {
  padding: 0 16px;
}
.buy-popup > .list > section {
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #666;
  border-radius: 4px;
  display: flex;
}
.buy-popup > .list > section > img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-right: 16px;
}
.buy-popup > .list > section > .info {
  flex-grow: 1;
}
.buy-popup > .list > section > .info > .name {
  font-size: 24px;
  margin-bottom: 16px;
}
.buy-popup > .list > section > .info > label > span {
  display: block;
  color: #999;
  margin-bottom: 8px;
}
.buy-popup > .list > section > .info > label > .price {
  display: flex;
  align-items: center;
  color: #e17d1c;
}
.buy-popup > .list > section > .info > label > .price > img {
  margin-right: 4px;
}
.buy-popup > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.buy-popup > .button-container > button {
  background-color: transparent;
  color: #C7FEA2;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.buy-popup > .button-container > button:hover {
  background-color: rgba(199, 254, 162, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.offer-popup {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: #1f1f1f;
}
.offer-popup > h2 {
  font-size: 24px;
  padding: 16px;
}
.offer-popup > p {
  padding: 16px;
  border-top: 1px solid #666;
  color: #999;
}
.offer-popup > .loading {
  padding: 16px;
}
.offer-popup > .list {
  padding: 0 16px;
}
.offer-popup > .list > section {
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #666;
  border-radius: 4px;
  display: flex;
}
.offer-popup > .list > section > img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-right: 16px;
}
.offer-popup > .list > section > .info {
  flex-grow: 1;
}
.offer-popup > .list > section > .info > .name {
  font-size: 24px;
  margin-bottom: 16px;
}
.offer-popup > .list > section > .info > label > span {
  display: block;
  color: #999;
  margin-bottom: 8px;
}
.offer-popup > .list > section > .info > label > input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  padding: 8px;
  height: 40px;
}
.offer-popup > .list > section > .info > label > input:hover {
  border: 1px solid #C7FEA2;
}
.offer-popup > .list > section > .info > label > input:focus {
  border: 1px solid #C7FEA2;
}
.offer-popup > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.offer-popup > .button-container > button {
  background-color: transparent;
  color: #C7FEA2;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.offer-popup > .button-container > button:hover {
  background-color: rgba(199, 254, 162, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.accept-offer-popup {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: #1f1f1f;
}
.accept-offer-popup > h2 {
  font-size: 24px;
  padding: 16px;
}
.accept-offer-popup > p {
  padding: 16px;
  border-top: 1px solid #666;
  color: #999;
}
.accept-offer-popup > .loading {
  padding: 16px;
}
.accept-offer-popup > .list {
  padding: 0 16px;
}
.accept-offer-popup > .list > section {
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #666;
  border-radius: 4px;
  display: flex;
}
.accept-offer-popup > .list > section > img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-right: 16px;
}
.accept-offer-popup > .list > section > .info {
  flex-grow: 1;
}
.accept-offer-popup > .list > section > .info > .name {
  font-size: 24px;
  margin-bottom: 16px;
}
.accept-offer-popup > .list > section > .info > label > span {
  display: block;
  color: #999;
  margin-bottom: 8px;
}
.accept-offer-popup > .list > section > .info > label > .price {
  display: flex;
  align-items: center;
  color: #e17d1c;
}
.accept-offer-popup > .list > section > .info > label > .price > img {
  margin-right: 4px;
}
.accept-offer-popup > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.accept-offer-popup > .button-container > button {
  background-color: transparent;
  color: #C7FEA2;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.accept-offer-popup > .button-container > button:hover {
  background-color: rgba(199, 254, 162, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.pfp-card {
  position: relative;
  background-color: #1f1f1f;
  width: 300px;
  overflow: hidden;
  border-radius: 8px;
  justify-items: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.pfp-card:hover {
  background-color: #222222;
}
.pfp-card > .banner {
  display: block;
  width: 100%;
  height: 150px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  object-fit: cover;
}
.pfp-card > .icon {
  position: absolute;
  top: 125px;
  left: calc(50% - 25px);
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: rgba(14, 14, 14, 0.6) 0px 0px 2px 0px;
  border: solid 0.5px black;
  object-fit: cover;
}
.pfp-card > .info {
  margin-top: 30px;
  padding: 16px;
}
.pfp-card > .info > .name {
  font-size: 22px;
  height: 28px;
  line-height: 1.2em;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.pfp-card > .info > .description {
  margin-top: 10px;
  font-size: 14px;
  height: 162px;
  line-height: 1.5em;
  color: #ccc;
  overflow: hidden;
  word-break: break-all;
}
.pfp-nft-card {
  background-color: #1f1f1f;
  width: 200px;
  height: 240px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.pfp-nft-card > img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
}
.pfp-nft-card > .info {
  padding: 4px 8px;
  display: flex;
  font-size: 14px;
}
.pfp-nft-card > .info > .name {
  padding: 4px 0;
  flex-grow: 1;
}
.pfp-nft-card > .info > .price {
  display: flex;
  align-items: center;
  color: #e17d1c;
}
.pfp-nft-card > .info > .price > img {
  margin-right: 4px;
}
.card-view:hover {
  background-color: #222222;
}
.dialogue.alert {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: #1f1f1f;
}
.dialogue.alert > h2 {
  font-size: 24px;
  padding: 16px;
}
.dialogue.alert > p {
  padding: 16px;
  border-top: 1px solid #666;
  color: #999;
}
.dialogue.alert > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.alert > .button-container > button {
  background-color: transparent;
  color: #C7FEA2;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.dialogue.alert > .button-container > button:hover {
  background-color: rgba(199, 254, 162, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.dialogue.confirm {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: #1f1f1f;
}
.dialogue.confirm > h2 {
  font-size: 24px;
  padding: 16px;
}
.dialogue.confirm > p {
  padding: 16px;
  border-top: 1px solid #666;
  color: #999;
}
.dialogue.confirm > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.confirm > .button-container > button {
  background-color: transparent;
  color: #C7FEA2;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.dialogue.confirm > .button-container > button:hover {
  background-color: rgba(199, 254, 162, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.dialogue.prompt {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: #1f1f1f;
}
.dialogue.prompt > h2 {
  font-size: 24px;
  padding: 16px;
}
.dialogue.prompt > p {
  padding: 16px;
  border-top: 1px solid #666;
  color: #999;
}
.dialogue.prompt > .input-container {
  padding: 0 16px;
}
.dialogue.prompt > .input-container > input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  padding: 8px;
  height: 40px;
}
.dialogue.prompt > .input-container > input:hover {
  border: 1px solid #C7FEA2;
}
.dialogue.prompt > .input-container > input:focus {
  border: 1px solid #C7FEA2;
}
.dialogue.prompt > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.prompt > .button-container > button {
  background-color: transparent;
  color: #C7FEA2;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.dialogue.prompt > .button-container > button:hover {
  background-color: rgba(199, 254, 162, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.pc-menu > ul {
  display: flex;
}
.pc-menu > ul > li {
  position: relative;
}
.pc-menu > ul > li > a {
  font-size: 16px;
  padding: 16px;
}
.pc-menu > ul > li > a:hover {
  color: #C7FEA2;
}
.pc-menu > ul > li > a:active {
  color: #C7FEA2;
}
.pc-menu > ul > li > ul {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100px;
  display: none;
  background-color: #222;
  padding: 10px 0;
}
.pc-menu > ul > li > ul > li > a {
  display: block;
  text-align: center;
  padding: 10px;
}
.pc-menu > ul > li > ul > li > a:hover {
  color: #C7FEA2;
}
.pc-menu > ul > li > ul > li > a:active {
  color: #C7FEA2;
}
.pc-menu > ul > li:hover > ul {
  display: block;
}
.mobile-menu {
  position: fixed;
  width: 170px;
  background-color: #222;
  padding: 10px;
}
.mobile-menu > ul > li > a {
  display: block;
  padding: 12px 5px;
  font-size: 18px;
}
.mobile-menu > ul > li > a:hover {
  color: #C7FEA2;
}
.mobile-menu > ul > li > a:active {
  color: #C7FEA2;
}
.mobile-menu > ul > li > ul {
  margin-left: 10px;
}
.mobile-menu > ul > li > ul > li > a {
  display: block;
  padding: 8px 5px;
  color: #ccc;
}
.mobile-menu > ul > li > ul > li > a:hover {
  color: #C7FEA2;
}
.mobile-menu > ul > li > ul > li > a:active {
  color: #C7FEA2;
}
.mobile-menu > ul > li > ul > li.parent {
  display: none;
}
.mobile-menu > .user-menu {
  margin: auto;
  margin-top: 16px;
}
.user-menu > .connect-wallet,
.user-menu > .wallet-address {
  display: block;
  width: 100%;
  text-align: center;
  color: #121212;
  background-color: #C7FEA2;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
}
.user-menu > .connect-wallet,
.user-menu > .wallet-address:hover {
  background-color: #CFFEB0;
}
.user-menu > .wallet-address {
  position: relative;
  cursor: pointer;
}
.user-menu > .wallet-address > ul {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100px;
  display: none;
  background-color: #222;
  padding: 10px 0;
}
.user-menu > .wallet-address > ul > li > a {
  display: block;
  text-align: center;
  padding: 10px;
  color: #fff;
}
.user-menu > .wallet-address > ul > li > a:hover {
  color: #C7FEA2;
}
.user-menu > .wallet-address > ul > li > a:active {
  color: #C7FEA2;
}
.user-menu > .wallet-address:hover > ul {
  display: block;
}
.user-menu > ul {
  margin-top: 10px;
  margin-left: 10px;
}
.user-menu > ul > li > a {
  display: block;
  padding: 8px 5px;
  color: #ccc;
}
.user-menu > ul > li > a:hover {
  color: #C7FEA2;
}
.user-menu > ul > li > a:active {
  color: #C7FEA2;
}
.layout {
  width: 100%;
}
.layout > header {
  background-color: #222;
  box-shadow: rgba(4, 17, 29, 0.25) 0px 0px 8px 0px;
  position: sticky;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
}
.layout > header > a {
  margin-right: 16px;
}
.layout > header > a > .logo {
  display: flex;
}
.layout > header > a > .logo > span {
  margin-left: 4px;
  margin-top: 12px;
  font-style: italic;
  color: #e17d1c;
}
@media only screen and (max-width: 719px) {
  .layout > header > .pc-menu {
    display: none;
  }
}
.layout > header > .right {
  flex-grow: 1;
}
.layout > header > .right:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.layout > header > .right > .user-menu {
  float: right;
}
@media only screen and (max-width: 719px) {
  .layout > header > .right > .user-menu {
    display: none;
  }
}
.layout > header > .right > .menu-button {
  float: right;
  display: none;
  padding: 10px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .right > .menu-button {
    display: block;
  }
}
.layout > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.layout > footer {
  border-top: 1px solid #333;
  color: #666;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 16px;
  padding: 16px;
  padding-bottom: 32px;
  font-size: 14px;
}
.home-view > header {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  background-image: url("/images/arts/pexels-steve-johnson-1840623-blur.jpg");
  background-size: cover;
  height: 200px;
  justify-content: center;
}
.home-view > header > p {
  margin: 16px;
  text-shadow: 0px 0px 5px #000000;
}
.home-view > header > a {
  display: block;
  margin-left: 16px;
  color: #121212;
  background-color: #C7FEA2;
  padding: 12px 0;
  width: 150px;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.home-view > header > a:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.home-view > .content {
  padding: 16px;
}
.home-view > .content > .slide {
  margin-bottom: 32px;
}
.home-view > .content > .slide > h2 {
  font-size: 24px;
  color: #999;
  margin-bottom: 16px;
}
.home-view > .content > .slide > .loading {
  margin-bottom: 16px;
}
.home-view > .content > .slide > .pfp-list-container {
  overflow-x: scroll;
  padding-bottom: 16px;
}
.home-view > .content > .slide > .pfp-list-container > .pfp-list:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.home-view > .content > .slide > .pfp-list-container > .pfp-list > .pfp-card {
  float: left;
  margin-right: 16px;
}
.home-view > .subtitle {
  padding-top: 8px;
  font-size: 1.25rem;
}
.pfp-view > header {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  background-image: url("/images/arts/pexels-steve-johnson-1840623-blur.jpg");
  background-size: cover;
  height: 200px;
  justify-content: center;
}
.pfp-view > header > p {
  margin: 16px;
  text-shadow: 0px 0px 5px #000000;
}
.pfp-view > header > a {
  display: block;
  margin-left: 16px;
  color: #121212;
  background-color: #C7FEA2;
  padding: 12px 0;
  width: 150px;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.pfp-view > header > a:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.pfp-view > .content {
  padding: 16px;
  max-width: 1420px;
  margin: auto;
}
.pfp-view > .content > h2 {
  font-size: 24px;
  color: #999;
  margin-bottom: 16px;
}
.pfp-view > .content > .loading {
  margin-bottom: 16px;
}
.pfp-view > .content > .pfp-list:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.pfp-view > .content > .pfp-list > .pfp-card {
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
  width: calc(25% - 16px);
}
@media only screen and (max-width: 719px) {
  .pfp-view > .content > .pfp-list > .pfp-card {
    width: 100%;
  }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .pfp-view > .content > .pfp-list > .pfp-card {
    width: calc(50% - 16px);
  }
}
.pfp-nft-detail-view {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
@media only screen and (max-width: 719px) {
  .pfp-nft-detail-view {
    display: block;
  }
}
.pfp-nft-detail-view > .nft-image {
  aspect-ratio: 1;
  width: 100%;
  border-radius: 8px;
}
.pfp-nft-detail-view > section {
  aspect-ratio: 1;
  background-color: #1f1f1f;
  border-radius: 8px;
  padding: 16px;
}
@media only screen and (max-width: 719px) {
  .pfp-nft-detail-view > section {
    margin-top: 16px;
  }
}
.pfp-nft-detail-view > section > h2 {
  font-size: 24px;
  margin-bottom: 16px;
}
.pfp-nft-detail-view > section > .pfp {
  color: #C7FEA2;
}
.pfp-nft-detail-view > section > .name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
}
.pfp-nft-detail-view > section > .owner {
  color: #999;
  margin-bottom: 16px;
}
.pfp-nft-detail-view > section > .owner > span {
  color: #C7FEA2;
}
.pfp-nft-detail-view > section > .attributes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
.pfp-nft-detail-view > section > .attributes > .attribute {
  border: 1px solid #999;
  padding: 16px;
  border-radius: 8px;
}
.pfp-nft-detail-view > section > .attributes > .attribute > .trait {
  color: #C7FEA2;
  margin-bottom: 16px;
}
.pfp-nft-detail-view > section > .trade-form {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
}
.pfp-nft-detail-view > section > .trade-form > .price-container {
  flex-grow: 1;
}
.pfp-nft-detail-view > section > .trade-form > .price-container > .price {
  display: flex;
  align-items: center;
  color: #e17d1c;
  font-size: 32px;
}
.pfp-nft-detail-view > section > .trade-form > .price-container > .price > img {
  margin-right: 4px;
}
.pfp-nft-detail-view > section > .trade-form > .sell-button,
.pfp-nft-detail-view > section > .trade-form > .cancel-sell-button,
.pfp-nft-detail-view > section > .trade-form > .buy-button {
  margin-top: 16px;
  color: #121212;
  background-color: #C7FEA2;
  padding: 12px 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.pfp-nft-detail-view > section > .trade-form > .sell-button:hover,
.pfp-nft-detail-view > section > .trade-form > .cancel-sell-button:hover,
.pfp-nft-detail-view > section > .trade-form > .buy-button:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.pfp-nft-detail-view > section > .offer-form {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
}
.pfp-nft-detail-view > section > .offer-form > .list {
  flex-grow: 1;
}
.pfp-nft-detail-view > section > .offer-form > .list > .offer {
  display: flex;
}
.pfp-nft-detail-view > section > .offer-form > .list > .offer > .offeror {
  flex-grow: 1;
}
.pfp-nft-detail-view > section > .offer-form > .list > .offer > .price {
  display: flex;
  align-items: center;
  color: #e17d1c;
}
.pfp-nft-detail-view > section > .offer-form > .list > .offer > .price > img {
  margin-right: 4px;
}
.pfp-nft-detail-view > section > .offer-form > .list > .offer > .accept-offer-button,
.pfp-nft-detail-view > section > .offer-form > .list > .offer > .cancel-offer-button {
  margin-left: 8px;
  background-color: transparent;
  color: #C7FEA2;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.pfp-nft-detail-view > section > .offer-form > .list > .offer > .accept-offer-button:hover,
.pfp-nft-detail-view > section > .offer-form > .list > .offer > .cancel-offer-button:hover {
  background-color: rgba(199, 254, 162, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.pfp-nft-detail-view > section > .offer-form > .offer-button {
  margin-top: 16px;
  color: #121212;
  background-color: #C7FEA2;
  padding: 12px 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.pfp-nft-detail-view > section > .offer-form > .offer-button:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.pfp-detail-view {
  display: flex;
  flex-direction: column;
}
.pfp-detail-view > header {
  position: relative;
  display: flex;
  background-image: url("/images/arts/pexels-steve-johnson-1840623-blur.jpg");
  background-size: cover;
  padding: 16px;
}
@media only screen and (max-width: 719px) {
  .pfp-detail-view > header {
    display: block;
  }
}
.pfp-detail-view > header > img {
  width: 156px;
  height: 156px;
  border-radius: 8px;
}
.pfp-detail-view > header > .body {
  margin-left: 16px;
  width: 100%;
}
@media only screen and (max-width: 719px) {
  .pfp-detail-view > header > .body {
    margin-top: 16px;
    margin-left: 0;
  }
}
.pfp-detail-view > header > .body > h1 {
  font-size: 32px;
  text-shadow: 0px 0px 5px #000000;
}
.pfp-detail-view > header > .body > p {
  margin-top: 8px;
  text-shadow: 0px 0px 5px #000000;
}
.pfp-detail-view > header > .body > .social {
  display: flex;
  margin-top: 8px;
  align-self: flex-end;
  align-items: flex-end;
}
.pfp-detail-view > header > .body > .social > a {
  margin-right: 8px;
}
.pfp-detail-view > header > .update-button {
  position: absolute;
  right: 16px;
  bottom: 16px;
  color: #121212;
  background-color: #C7FEA2;
  padding: 12px 0;
  width: 150px;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.pfp-detail-view > header > .update-button:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 719px) {
  .pfp-detail-view > header > .update-button {
    position: relative;
    right: 0;
    bottom: 0;
    margin-top: 16px;
  }
}
.pfp-detail-view > main > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: black;
}
.pfp-detail-view > main > header > h2 {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
}
.pfp-detail-view > main > header > .tab-container > .tab {
  margin-left: 8px;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.pfp-detail-view > main > header > .tab-container > .tab.on {
  color: #C7FEA2;
}
.pfp-detail-view > main > header > .tab-container > .tab:hover {
  color: #C7FEA2;
  background-color: rgba(199, 254, 162, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.pfp-detail-view > main > header > .filter {
  display: flex;
  justify-content: flex-end;
}
.pfp-detail-view > main > header > .filter > select {
  margin-left: 8px;
  background-color: #C7FEA2;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}
.pfp-detail-view > main > header > .filter > select:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.pfp-detail-view > main > .content {
  display: flex;
  padding: 16px 0 16px 16px;
}
@media only screen and (max-width: 719px) {
  .pfp-detail-view > main > .content {
    display: block;
  }
}
.pfp-detail-view > main > .content > .search-box {
  width: 240px;
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  margin-bottom: 16px;
}
@media only screen and (max-width: 719px) {
  .pfp-detail-view > main > .content > .search-box {
    width: auto;
  }
}
.pfp-detail-view > main > .content > .search-box > input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  padding: 8px;
  height: 40px;
}
.pfp-detail-view > main > .content > .search-box > input:hover {
  border: 1px solid #C7FEA2;
}
.pfp-detail-view > main > .content > .search-box > input:focus {
  border: 1px solid #C7FEA2;
}
.pfp-detail-view > main > .content > .search-box > select {
  margin-top: 8px;
  background-color: #C7FEA2;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}
.pfp-detail-view > main > .content > .search-box > select:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.pfp-detail-view > main > .content > .list-container {
  width: calc(100% - 240px);
}
@media only screen and (max-width: 719px) {
  .pfp-detail-view > main > .content > .list-container {
    width: auto;
  }
}
.pfp-detail-view > main > .content > .list-container > .loading {
  margin-bottom: 16px;
}
.pfp-detail-view > main > .content > .list-container > .list:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.pfp-detail-view > main > .content > .list-container > .list > .pfp-nft-card {
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
}
@media only screen and (max-width: 719px) {
  .pfp-detail-view > main > .content > .list-container > .list > .pfp-nft-card {
    width: calc(50% - 16px);
  }
}
.pfp-update-view > header {
  display: flex;
  flex-direction: column;
  background-image: url("/images/arts/pexels-steve-johnson-1840623-blur.jpg");
  background-size: cover;
  height: 200px;
  justify-content: center;
}
.pfp-update-view > header > h1 {
  font-size: 24px;
  margin: 16px;
  text-shadow: 0px 0px 5px #000000;
}
.pfp-update-view > main {
  max-width: 632px;
  margin: auto;
  padding: 32px 16px;
}
.pfp-update-view > main > .form {
  margin-bottom: 45px;
}
.pfp-update-view > main > .form > h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
.pfp-update-view > main > .form > label {
  display: block;
  margin-top: 16px;
}
.pfp-update-view > main > .form > label > h3 {
  font-size: 22px;
  margin-bottom: 16px;
}
.pfp-update-view > main > .form > label > .banner-preview,
.pfp-update-view > main > .form > label > .icon-preview {
  max-width: 100%;
  max-height: 100px;
  margin-bottom: 12px;
}
.pfp-update-view > main > .form > label > p {
  margin-top: -4px;
  margin-bottom: 12px;
  display: flex;
  color: #999;
}
.pfp-update-view > main > .form > label > p > span {
  justify-content: flex-start;
  flex-grow: 1;
}
.pfp-update-view > main > .form > label > p > a {
  justify-content: flex-end;
  color: #C7FEA2;
}
.pfp-update-view > main > .form > label > input:not([type=checkbox]),
.pfp-update-view > main > .form > label > textarea {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  padding: 8px;
  height: 40px;
}
.pfp-update-view > main > .form > label > input:not([type=checkbox]):hover,
.pfp-update-view > main > .form > label > textarea:hover {
  border: 1px solid #C7FEA2;
}
.pfp-update-view > main > .form > label > input:not([type=checkbox]):focus,
.pfp-update-view > main > .form > label > textarea:focus {
  border: 1px solid #C7FEA2;
}
.pfp-update-view > main > .form > label > textarea {
  height: 160px;
}
.pfp-update-view > main > .form > label > input[type=checkbox] {
  width: 20px;
  height: 20px;
}
.pfp-update-view > main > .form > button {
  margin-top: 16px;
  color: #121212;
  background-color: #C7FEA2;
  padding: 12px 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.pfp-update-view > main > .form > button:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.pfp-update-view > main > .manage-managers {
  width: 100%;
}
.pfp-update-view > main > .manage-managers > h2 {
  font-size: 28px;
  margin-bottom: 16px;
}
.pfp-update-view > main > .manage-managers > ul > li {
  display: flex;
  padding: 4px 8px;
  border-bottom: 1px solid #666;
  align-items: center;
}
.pfp-update-view > main > .manage-managers > ul > li > span {
  justify-content: flex-start;
  flex-grow: 1;
}
.pfp-update-view > main > .manage-managers > ul > li > button {
  justify-content: flex-end;
  background-color: transparent;
  color: #C7FEA2;
  padding: 6px 8px;
  font-size: 14px;
  border-radius: 4px;
}
.pfp-update-view > main > .manage-managers > ul > li > button:hover {
  background-color: rgba(199, 254, 162, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.pfp-update-view > main > .manage-managers > ul > li:hover {
  background-color: #1f1f1f;
}
.pfp-update-view > main > .manage-managers > button {
  margin-top: 16px;
  color: #121212;
  background-color: #C7FEA2;
  padding: 12px 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.pfp-update-view > main > .manage-managers > button:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.add-pfp-view > header {
  display: flex;
  flex-direction: column;
  background-image: url("/images/arts/pexels-steve-johnson-1840623-blur.jpg");
  background-size: cover;
  height: 200px;
  justify-content: center;
}
.add-pfp-view > header > h1 {
  font-size: 24px;
  margin: 16px;
  text-shadow: 0px 0px 5px #000000;
}
.add-pfp-view > main {
  max-width: 632px;
  margin: auto;
  padding: 16px;
}
.add-pfp-view > main > section {
  margin-top: 16px;
  font-size: 16px;
  border: 1px solid #666;
  border-radius: 4px;
}
.add-pfp-view > main > section > h2 {
  font-size: 24px;
  padding: 16px;
}
.add-pfp-view > main > section > p {
  padding: 16px;
  border-top: 1px solid #666;
  color: #999;
}
.add-pfp-view > main > section:hover {
  cursor: pointer;
  color: #C7FEA2;
  background-color: #1f1f1f;
}
.add-pfp-by-minter-view > header {
  display: flex;
  flex-direction: column;
  background-image: url("/images/arts/pexels-steve-johnson-1840623-blur.jpg");
  background-size: cover;
  height: 200px;
  justify-content: center;
}
.add-pfp-by-minter-view > header > h1 {
  margin: 16px;
  margin-bottom: 0;
  font-size: 24px;
  text-shadow: 0px 0px 5px #000000;
}
.add-pfp-by-minter-view > header > p {
  margin: 16px;
  text-shadow: 0px 0px 5px #000000;
}
.add-pfp-by-minter-view > main {
  max-width: 632px;
  margin: auto;
  padding: 32px 16px;
}
.add-pfp-by-minter-view > main > .warning {
  display: block;
  color: #9F6000;
  background-color: #FEEFB3;
  font-size: 14px;
  padding: 16px;
  border-radius: 4px;
}
.add-pfp-by-minter-view > main > .warning > i {
  margin-right: 6px;
}
.add-pfp-by-minter-view > main > label {
  display: block;
  margin-top: 16px;
}
.add-pfp-by-minter-view > main > label > h6 {
  font-size: 24px;
  margin-bottom: 16px;
}
.add-pfp-by-minter-view > main > label > input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  padding: 8px;
  height: 40px;
}
.add-pfp-by-minter-view > main > label > input:hover {
  border: 1px solid #C7FEA2;
}
.add-pfp-by-minter-view > main > label > input:focus {
  border: 1px solid #C7FEA2;
}
.add-pfp-by-minter-view > main > button {
  margin-top: 16px;
  color: #121212;
  background-color: #C7FEA2;
  padding: 12px 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.add-pfp-by-minter-view > main > button:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.add-pfp-by-pfp-owner-view > header {
  display: flex;
  flex-direction: column;
  background-image: url("/images/arts/pexels-steve-johnson-1840623-blur.jpg");
  background-size: cover;
  height: 200px;
  justify-content: center;
}
.add-pfp-by-pfp-owner-view > header > h1 {
  margin: 16px;
  margin-bottom: 0;
  font-size: 24px;
  text-shadow: 0px 0px 5px #000000;
}
.add-pfp-by-pfp-owner-view > header > p {
  margin: 16px;
  text-shadow: 0px 0px 5px #000000;
}
.add-pfp-by-pfp-owner-view > main {
  max-width: 632px;
  margin: auto;
  padding: 32px 16px;
}
.add-pfp-by-pfp-owner-view > main > .warning {
  display: block;
  color: #9F6000;
  background-color: #FEEFB3;
  font-size: 14px;
  padding: 16px;
  border-radius: 4px;
}
.add-pfp-by-pfp-owner-view > main > .warning > i {
  margin-right: 6px;
}
.add-pfp-by-pfp-owner-view > main > label {
  display: block;
  margin-top: 16px;
}
.add-pfp-by-pfp-owner-view > main > label > h6 {
  font-size: 24px;
  margin-bottom: 16px;
}
.add-pfp-by-pfp-owner-view > main > label > input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  padding: 8px;
  height: 40px;
}
.add-pfp-by-pfp-owner-view > main > label > input:hover {
  border: 1px solid #C7FEA2;
}
.add-pfp-by-pfp-owner-view > main > label > input:focus {
  border: 1px solid #C7FEA2;
}
.add-pfp-by-pfp-owner-view > main > button {
  margin-top: 16px;
  color: #121212;
  background-color: #C7FEA2;
  padding: 12px 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.add-pfp-by-pfp-owner-view > main > button:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.sell-pfp-view {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.sell-pfp-view > .image-view {
  margin-top: 16px;
  padding-left: 16px;
  max-width: 50%;
}
.sell-pfp-view > .image-view > .pfp-image {
  max-width: 100%;
  border-radius: 16px;
}
.sell-pfp-view > .image-view > .project {
  font-size: 14px;
}
.sell-pfp-view > .image-view > .pfp {
  margin-top: 8px;
  font-size: 2.125rem;
}
.sell-pfp-view > .image-view > .pfp-info {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sell-pfp-view > .image-view > .pfp-info > .owner {
  display: flex;
  font-size: 1rem;
}
.sell-pfp-view > .image-view > .pfp-info > .owner > .owner-by {
  margin-left: 8px;
  font-size: 1rem;
  color: #C7FEA2;
}
.sell-pfp-view > .image-view > .pfp-info > .viewer {
  display: flex;
  margin-left: 32px;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}
.sell-pfp-view > .image-view > .pfp-info > .viewer > .viewer-icon {
  margin-right: 4px;
}
.sell-pfp-view > .sell-view {
  margin-top: 16px;
  margin-left: 16px;
}
.sell-pfp-view > .sell-view > .title {
  font-size: 3rem;
}
.sell-pfp-view > .sell-view > button {
  width: 100%;
  margin-top: 16px;
}
.sell-pfp-view > .sell-view > .label {
  font-size: 14px;
  margin-top: 16px;
}
.sell-pfp-view > .sell-view > input {
  margin-top: 8px;
  width: 100%;
}
.pfp-ranking-view {
  display: flex;
  flex-direction: column;
  margin: 16px;
}
.pfp-ranking-view > header > h1 {
  font-size: 2.125rem;
}
.pfp-ranking-view > header > .filter {
  padding-top: 8px;
  padding-bottom: 8px;
}
.pfp-ranking-view > header > .filter > select {
  margin-top: 8px;
  background-color: #C7FEA2;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
}
.pfp-ranking-view > header > .filter > select:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.pfp-ranking-view > table > thead {
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: solid 0.5px red;
}
.pfp-ranking-view > table > thead > tr > td {
  text-align: center;
  padding: 16px;
}
.pfp-ranking-view > table > tbody > tr > td {
  text-align: center;
  padding: 16px;
  border-bottom: solid 0.5px red;
}
.pfp-ranking-view > table > tbody > tr:hover {
  background-color: #1f1f1f;
}
.pfp-ranking-view > .pagination {
  display: inline-block;
  padding: 15px 0 5px 10px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.pfp-ranking-view > .pagination > a {
  float: center;
  padding: 8px;
  margin: 8px;
  text-decoration: none;
}
.pfp-ranking-view > .pagination > a:hover {
  background-color: rgba(199, 254, 162, 0.2);
  border-radius: 4px;
}
.pfp-propose-view > header {
  display: flex;
  flex-direction: column;
  background-image: url("/images/arts/pexels-steve-johnson-1840623-blur.jpg");
  background-size: cover;
  height: 200px;
  justify-content: center;
}
.pfp-propose-view > header > h1 {
  margin: 16px;
  margin-bottom: 0;
  font-size: 24px;
  text-shadow: 0px 0px 5px #000000;
}
.pfp-propose-view > header > p {
  margin: 16px;
  text-shadow: 0px 0px 5px #000000;
}
.pfp-propose-view > main {
  max-width: 632px;
  margin: auto;
  padding: 32px 16px;
}
.pfp-propose-view > main > .warning {
  display: block;
  color: #9F6000;
  background-color: #FEEFB3;
  font-size: 14px;
  padding: 16px;
  border-radius: 4px;
}
.pfp-propose-view > main > .warning > i {
  margin-right: 6px;
}
.pfp-propose-view > main > label {
  display: block;
  margin-top: 16px;
}
.pfp-propose-view > main > label > h6 {
  font-size: 24px;
  margin-bottom: 16px;
}
.pfp-propose-view > main > label > input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  padding: 8px;
  height: 40px;
}
.pfp-propose-view > main > label > input:hover {
  border: 1px solid #C7FEA2;
}
.pfp-propose-view > main > label > input:focus {
  border: 1px solid #C7FEA2;
}
.pfp-propose-view > main > button {
  margin-top: 16px;
  color: #121212;
  background-color: #C7FEA2;
  padding: 12px 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.pfp-propose-view > main > button:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.art-view {
  padding: 16px;
}
.art-view > .title {
  font-size: 28px;
}
.user-my-pfps-view > header {
  display: flex;
  flex-direction: column;
  background-image: url("/images/arts/pexels-steve-johnson-1840623-blur.jpg");
  background-size: cover;
  height: 200px;
  justify-content: center;
}
.user-my-pfps-view > header > h1 {
  font-size: 24px;
  margin: 16px;
  text-shadow: 0px 0px 5px #000000;
}

