/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: 'Jost*', sans-serif;
  src: url('http://fonts.cdnfonts.com/css/jost');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4.125rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.125rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}
body {
  font-family: "Jost", sans-serif;
  background: #121212;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  margin: auto;
}
body .button-contained {
  color: #121212;
  background-color: #C7FEA2;
  padding: 8px;
  font-size: 0.875rem;
  border-radius: 4px;
}
body .button-contained:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
body .button-text {
  background-color: transparent;
  color: #C7FEA2;
  padding: 8px;
  font-size: 0.875rem;
  border-radius: 4px;
}
body .button-text:hover {
  background-color: rgba(199, 254, 162, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
body .button-outlined {
  background-color: transparent;
  color: #C7FEA2;
  border-color: #C7FEA2;
  padding: 8px;
  font-size: 0.875rem;
  border-radius: 4px;
}
body .button-outlined:hover {
  background-color: rgba(199, 254, 162, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
body input {
  border: 1px solid rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.87);
  padding: 8px;
  height: 40px;
}
body input:hover {
  border: 1px solid #C7FEA2;
}
body input:focus {
  border: 1px solid #C7FEA2;
}
body a:hover {
  color: #C7FEA2;
}
body .divider {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0.5px solid;
  width: 100%;
}
body .label {
  font-size: 0.875rem;
  margin-bottom: 8px;
}
body .danger-caption {
  padding-top: 4px;
  font-size: 0.625rem;
  color: #ff3b30;
  display: block;
}
body .popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.layout {
  width: 100%;
}
.layout > .navbar {
  max-width: 100vw;
  background-color: #222;
  box-shadow: rgba(4, 17, 29, 0.25) 0px 0px 8px 0px;
  position: sticky;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
  align-items: center;
}
.layout > .navbar > .logo {
  color: #C7FEA2;
  font-size: 2.125rem;
  font-weight: bold;
}
.layout > .navbar > .logo:hover {
  color: #CFFEB0;
}
.layout > .navbar > .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.layout > .navbar > .menu > .menu-item {
  font-size: 1rem;
  margin-left: 16px;
}
.layout > .navbar > .menu .menu-item:hover {
  font-size: 1rem;
  color: #C7FEA2;
}
.layout > .navbar > .menu .menu-item:active {
  font-size: 1rem;
  color: #C7FEA2;
}
.layout > .navbar > .menu .connect-wallet,
.layout > .navbar > .menu .wallet-address {
  display: flex;
  align-items: center;
  margin-left: 16px;
  color: #121212;
  background-color: #C7FEA2;
  font-size: 0.875rem;
  padding: 8px;
  border-radius: 4px;
}
.layout > .navbar > .menu .connect-wallet,
.layout > .navbar > .menu .wallet-address:hover {
  background-color: #CFFEB0;
}
.layout main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.layout footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 0.875rem;
}
.card-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f1f1f;
  max-width: 200px;
  border-radius: 8px;
  margin: 8px;
}
.card-view > img {
  border-radius: 8px 8px 0px 0px;
}
.card-view > .title {
  margin-top: 8px;
  margin-left: 8px;
  font-size: 1.25rem;
}
.card-view > .body {
  margin-top: 8px;
  margin-left: 8px;
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-view > .price {
  margin-top: 8px;
  margin: 8px;
  font-size: 1rem;
}
.card-view > .price:hover {
  color: #C7FEA2;
}
.card-view:hover {
  background-color: #222222;
}
.buy-popup {
  position: relative;
  max-width: 640px;
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  background-color: #1f1f1f;
}
.buy-popup > button {
  margin-top: 16px;
  width: 100%;
}
.buy-popup > .price {
  font-size: 1.5rem;
}
.buy-popup > .price:hover {
  color: #C7FEA2;
}
.offer-popup {
  position: relative;
  max-width: 640px;
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  background-color: #1f1f1f;
}
.offer-popup > .divider {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0.5px solid;
  width: 100%;
}
.offer-popup > button {
  margin-top: 16px;
  width: 100%;
}
.offer-popup > input {
  width: 100%;
}
.offer-popup > .label {
  font-size: 0.875rem;
  margin-bottom: 8px;
}
.offer-popup > .price {
  font-size: 1.5rem;
}
.offer-popup > .danger {
  padding-top: 4px;
  font-size: 0.625rem;
  color: #ff3b30;
  display: block;
}
.offer-popup > .price:hover {
  color: #C7FEA2;
}
.dialogue.alert {
  position: relative;
  max-width: 640px;
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  background-color: #1f1f1f;
}
.dialogue.alert > .divider {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0.5px solid;
  width: 100%;
}
.dialogue.alert > p {
  margin-bottom: 16px;
}
.dialogue.alert > .button-container {
  display: flex;
  justify-content: flex-end;
}
.dialogue.confirm {
  position: relative;
  max-width: 640px;
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  background-color: #1f1f1f;
}
.dialogue.confirm > .divider {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0.5px solid;
  width: 100%;
}
.dialogue.confirm > p {
  margin-bottom: 16px;
}
.dialogue.confirm > .button-container {
  display: flex;
  justify-content: flex-end;
}
.dialogue.prompt {
  position: relative;
  max-width: 640px;
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  background-color: #1f1f1f;
}
.dialogue.prompt > .divider {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0.5px solid;
  width: 100%;
}
.dialogue.prompt > p {
  margin-bottom: 16px;
}
.dialogue.prompt > .button-container {
  display: flex;
  justify-content: flex-end;
}
.dialogue.prompt > input {
  width: 100%;
}
.home-view > .head {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  background-image: url("./images/eclipse.png");
  background-size: cover;
  height: 200px;
  justify-content: center;
}
.home-view > .head > .slogan {
  margin: 16px;
}
.home-view > .head > button {
  max-width: 150px;
  margin-left: 16px;
}
.home-view > .content {
  margin-top: 8px;
  margin-left: 16px;
  height: 50vh;
}
.home-view > .content > h6 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.home-view > .subtitle {
  padding-top: 8px;
  font-size: 1.25rem;
}
.art-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 16px;
}
.art-view > .title {
  font-size: 4.125rem;
  padding: 16px;
}
.art-view > .subtitle {
  font-size: 0.875rem;
}
.pfp-detail-view {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.pfp-detail-view > .over-view {
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
.pfp-detail-view > .over-view > .project {
  font-size: 0.875rem;
}
.pfp-detail-view > .over-view > .pfp {
  margin-top: 8px;
  font-size: 3rem;
}
.pfp-detail-view > .over-view > .pfp-info {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pfp-detail-view > .over-view > .pfp-info > .owner {
  display: flex;
  font-size: 1rem;
}
.pfp-detail-view > .over-view > .pfp-info > .owner > .owner-by {
  margin-left: 8px;
  font-size: 1rem;
  color: #C7FEA2;
}
.pfp-detail-view > .over-view > .pfp-info > .viewer {
  display: flex;
  margin-left: 32px;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}
.pfp-detail-view > .over-view > .pfp-info > .viewer > .viewer-icon {
  margin-right: 4px;
}
.pfp-detail-view > .over-view > .description {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1f1f1f;
  border-radius: 4px;
  margin-top: 16px;
  padding-right: 16px;
}
.pfp-detail-view > .over-view > .description > .title {
  padding: 8px;
  font-size: 1.25rem;
}
.pfp-detail-view > .over-view > .description > .divider {
  border: 0.5px solid;
  width: 100%;
}
.pfp-detail-view > .over-view > .description > .body {
  font-size: 1rem;
  padding: 8px;
}
.pfp-detail-view > .image-view {
  margin-top: 16px;
  padding-left: 16px;
  max-width: 50%;
}
.pfp-detail-view > .image-view > .pfp-image {
  max-width: 100%;
  border-radius: 16px;
}
.pfp-detail-view > .image-view > button {
  width: 100%;
  height: 48px;
  margin-top: 16px;
}
.pfp-detail-view > .image-view > .label {
  font-size: 0.875rem;
  margin-top: 16px;
}
.pfp-detail-view > .image-view > input {
  margin-top: 8px;
  width: 100%;
}
.pfp-view > .head {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  background-image: url("./images/eclipse.png");
  background-size: cover;
  height: 200px;
  justify-content: center;
}
.pfp-view > .head > .slogan {
  margin: 16px;
}
.pfp-view > .head > button {
  max-width: 150px;
  margin-left: 16px;
}
.pfp-view > .content {
  margin-top: 8px;
  margin-left: 16px;
  height: 50vh;
}
.pfp-view > .content > h6 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.pfp-view > .content > .subtitle {
  padding-top: 8px;
  font-size: 1.25rem;
}
.pfp-detail-view {
  display: flex;
  flex-direction: column;
}
.pfp-detail-view > .head {
  display: flex;
  background-image: url("./images/eclipse.png");
  background-size: cover;
  height: 200px;
  justify-content: center;
  padding: 16px;
}
.pfp-detail-view > .head > .thumbnail {
  max-width: 156px;
  height: 156px;
  border-radius: 8px;
}
.pfp-detail-view > .head > .body {
  margin-left: 8px;
  font-size: 1rem;
  width: 100%;
}
.pfp-detail-view > .head > .body .social {
  display: flex;
  margin-top: 16px;
}
.pfp-detail-view > .head > .body button {
  margin-right: 8px;
}
.pfp-detail-view > .head > .title {
  font-size: 1.5rem;
  margin: 16px;
}
.pfp-detail-view > .head > .subtitle {
  margin-left: 16px;
  font-size: 1rem;
}
.pfp-detail-view > .head > button {
  max-width: 150px;
  margin-left: 16px;
}
.pfp-detail-view > .main > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: black;
}
.pfp-detail-view > .main > .header > h4 {
  display: flex;
  justify-content: flex-start;
}
.pfp-detail-view > .main > .header > .filter {
  display: flex;
  justify-content: flex-end;
}
.pfp-detail-view > .main > .header > .filter > select {
  margin-left: 8px;
  background-color: #C7FEA2;
  padding: 8px;
  font-size: 0.875rem;
  border-radius: 4px;
  border: none;
}
.pfp-detail-view > .main > .header > .filter > select:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.pfp-detail-view > .main > .content {
  margin-top: 16px;
  display: flex;
}
.pfp-detail-view > .main > .content > .search-box {
  width: 100%;
  height: 100%;
  max-width: 250px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.pfp-detail-view > .main > .content > .search-box > select {
  margin-top: 8px;
  background-color: #C7FEA2;
  padding: 8px;
  font-size: 0.875rem;
  border-radius: 4px;
  border: none;
}
.pfp-detail-view > .main > .content > .search-box > select:hover {
  background-color: #CFFEB0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.pfp-detail-view > .main > .content > .list {
  display: flex;
}
.pfp-update-view > .head {
  display: flex;
  flex-direction: column;
  background-image: url("./images/bigBang.png");
  background-size: cover;
  height: 200px;
  justify-content: center;
}
.pfp-update-view > .head > .title {
  font-size: 1.5rem;
  margin: 16px;
}
.pfp-update-view > .head > .subtitle {
  margin-left: 16px;
  font-size: 1rem;
}
.pfp-update-view > .head > button {
  max-width: 150px;
  margin-left: 16px;
}
.pfp-update-view > .content {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  justify-content: center;
  align-items: center;
  margin: 16px;
}
.pfp-update-view > .content > .form {
  width: 100%;
}
.pfp-update-view > .content > .form > .banner-preview,
.pfp-update-view > .content > .form > .icon-preview {
  display: block;
  max-height: 30px;
  margin-top: 10px;
}
.pfp-update-view > .content > .form > .file-container {
  margin-top: 16px;
}
.pfp-update-view > .content > .form > .file-container > input {
  width: 100%;
}
.pfp-update-view > .content > .form > .input-container {
  margin-top: 16px;
}
.pfp-update-view > .content > .form > .input-container > input {
  width: 100%;
}
.pfp-update-view > .content > .form > button {
  width: 100%;
  margin-top: 16px;
}
.pfp-update-view > .content > .manage-managers {
  width: 100%;
  margin-top: 16px;
}
.pfp-update-view > .content > .manage-managers > ul > li {
  display: flex;
  padding: 8px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.67);
  align-items: center;
}
.pfp-update-view > .content > .manage-managers > ul > li > .item {
  justify-content: flex-start;
  flex-grow: 1;
}
.pfp-update-view > .content > .manage-managers > ul > li > button {
  justify-content: flex-end;
}
.pfp-update-view > .content > .manage-managers > ul > li:hover {
  background-color: #1f1f1f;
}
.pfp-update-view > .content > .manage-managers > button {
  width: 100%;
  margin-top: 16px;
  justify-content: flex-end;
}
.add-pfp-view > .head {
  display: flex;
  flex-direction: column;
  background-image: url("./images/galaxies.png");
  background-size: cover;
  height: 200px;
  justify-content: center;
}
.add-pfp-view > .head > .title {
  font-size: 1.5rem;
  margin: 16px;
}
.add-pfp-view > .head > .subtitle {
  margin-left: 16px;
  font-size: 1rem;
}
.add-pfp-view > .head > button {
  max-width: 150px;
  margin-left: 16px;
}
.add-pfp-view > .content {
  margin-top: 8px;
  margin-left: 16px;
  height: 50vh;
  margin: 16px;
}
.add-pfp-view > .content > h6 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.add-pfp-view > .content > h4 {
  padding-bottom: 8px;
}
.add-pfp-view > .content > ul > li {
  margin-top: 16px;
  font-size: 1rem;
  padding: 8px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.67);
}
.add-pfp-view > .content > ul > li:hover {
  background-color: #1f1f1f;
}
.add-pfp-by-minter-view > .head {
  display: flex;
  flex-direction: column;
  background-image: url("./images/galaxies.png");
  background-size: cover;
  height: 200px;
  justify-content: center;
}
.add-pfp-by-minter-view > .head > .title {
  font-size: 1.5rem;
  margin: 16px;
}
.add-pfp-by-minter-view > .head > .subtitle {
  margin-left: 16px;
  font-size: 1rem;
}
.add-pfp-by-minter-view > .head > button {
  max-width: 150px;
  margin-left: 16px;
}
.add-pfp-by-minter-view > .content {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 16px;
}
.add-pfp-by-minter-view > .content > h6 {
  margin-top: 8px;
}
.add-pfp-by-minter-view > .content > ul > li {
  margin-top: 8px;
  font-size: 1rem;
}
.add-pfp-by-minter-view > .content > ul > li > .form > .label > input {
  width: 100%;
  margin-top: 16px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.add-pfp-by-minter-view > .content > ul > li > .form > button {
  width: 100%;
}
.add-pfp-by-owner-view > .head {
  display: flex;
  flex-direction: column;
  background-image: url("./images/galaxies.png");
  background-size: cover;
  height: 200px;
  justify-content: center;
}
.add-pfp-by-owner-view > .head > .title {
  font-size: 1.5rem;
  margin: 16px;
}
.add-pfp-by-owner-view > .head > .subtitle {
  margin-left: 16px;
  font-size: 1rem;
}
.add-pfp-by-owner-view > .head > button {
  max-width: 150px;
  margin-left: 16px;
}
.add-pfp-by-owner-view > .content {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 16px;
}
.add-pfp-by-owner-view > .content > h6 {
  margin-top: 8px;
}
.add-pfp-by-owner-view > .content > ul > li {
  margin-top: 8px;
  font-size: 1rem;
}
.add-pfp-by-owner-view > .content > ul > li > .form > .label > input {
  width: 100%;
  margin-top: 16px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.add-pfp-by-owner-view > .content > ul > li > .form > button {
  width: 100%;
}
.sell-pfp-view {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.sell-pfp-view > .image-view {
  margin-top: 16px;
  padding-left: 16px;
  max-width: 50%;
}
.sell-pfp-view > .image-view > .pfp-image {
  max-width: 100%;
  border-radius: 16px;
}
.sell-pfp-view > .image-view > .project {
  font-size: 0.875rem;
}
.sell-pfp-view > .image-view > .pfp {
  margin-top: 8px;
  font-size: 2.125rem;
}
.sell-pfp-view > .image-view > .pfp-info {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sell-pfp-view > .image-view > .pfp-info > .owner {
  display: flex;
  font-size: 1rem;
}
.sell-pfp-view > .image-view > .pfp-info > .owner > .owner-by {
  margin-left: 8px;
  font-size: 1rem;
  color: #C7FEA2;
}
.sell-pfp-view > .image-view > .pfp-info > .viewer {
  display: flex;
  margin-left: 32px;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}
.sell-pfp-view > .image-view > .pfp-info > .viewer > .viewer-icon {
  margin-right: 4px;
}
.sell-pfp-view > .sell-view {
  margin-top: 16px;
  margin-left: 16px;
}
.sell-pfp-view > .sell-view > .title {
  font-size: 3rem;
}
.sell-pfp-view > .sell-view > button {
  width: 100%;
  margin-top: 16px;
}
.sell-pfp-view > .sell-view > .label {
  font-size: 0.875rem;
  margin-top: 16px;
}
.sell-pfp-view > .sell-view > input {
  margin-top: 8px;
  width: 100%;
}
.pfp-propose-view > .head {
  display: flex;
  flex-direction: column;
  background-image: url("./images/galaxies.png");
  background-size: cover;
  height: 200px;
  justify-content: center;
}
.pfp-propose-view > .head > .title {
  font-size: 1.5rem;
  margin: 16px;
}
.pfp-propose-view > .head > .subtitle {
  margin-left: 16px;
  font-size: 1rem;
}
.pfp-propose-view > .head > button {
  max-width: 150px;
  margin-left: 16px;
}
.pfp-propose-view > .content {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 16px;
}
.pfp-propose-view > .content > h6 {
  margin-top: 8px;
}
.pfp-propose-view > .content > ul {
  margin-top: 8px;
  font-size: 1rem;
}
.pfp-propose-view > .content > ul > .form > .label > input {
  width: 100%;
  margin-top: 16px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.pfp-propose-view > .content > ul > .form > button {
  width: 100%;
}

