.buy-popup {
    position        : relative;
    width           : 320px;
    margin          : auto;
    padding         : 20px;
    border          : 2px solid #ffffff;
    background-color: #000000;
}