@import "../palette.less";
@import "../font.less";

.buy-popup {
    position        : relative;
    max-width       : 640px;
    width           : 100%;
    margin          : auto;
    padding         : 20px;
    border-radius   : 4px;
    background-color: @shadow;

    >button {
        margin-top: 16px;
        width     : 100%;
    }

    >.price {
        font-size: @headline5;
    }

    >.price:hover {
        color: @brand-primary;
    }
}