@import "../palette.less";

.buy-popup {
    position        : relative;
    max-width       : 640px;
    width           : 100%;
    margin          : auto;
    padding         : 20px;
    border-radius   : 4px;
    background-color: @shadow;

    >button {
        margin-top: 16px;
        width     : 100%;
    }

    >.price {
        font-size: 1.5rem;
    }

    >.price:hover {
        color: @brand-primary;
    }

    >.danger-caption {
        padding-top: 4px;
        font-size  : 0.625rem;
        color      : @danger;
        display    : block;
    }

    >.divider {
        margin-top   : 16px;
        margin-bottom: 16px;
        border       : 0.5px solid;
        width        : 100%;
    }
}