@import "../palette.less";
@import "../font.less";

.layout {
    width: 100%;

    .navbar {
        width          : 100%;
        display        : flex;
        padding-top    : 8px;
        padding-bottom : 8px;
        justify-content: space-between;
        align-items    : center;

        .logo {
            color    : @brand-primary;
            font-size: @hadeline4;
        }

        .menu {
            justify-content: flex-end;

            .menu-item {
                font-size  : @hadeline6;
                margin-left: 16px;
            }

            .menu-item:hover {
                font-size: @hadeline6;
                color    : @brand-primary
            }
        }
    }

    footer {
        font-size: @body2;
    }
}